In [2]:
import pandas as pd
df = pd.DataFrame([
    ["Elwing", "Chinese", 60],
    ["Bob", "English", 80],
    ["Elwing", "English", 90]
], columns=["Name", "Subject", "Score"])
df

     Name  Subject  Score
0  Elwing  Chinese     60
1     Bob  English     80
2  Elwing  English     90

In [7]:
# 拿行
# DataFrame: 有行有列  Series: 一行/一列
# 一行: Series
df.columns = ["Names", "Subjects", "Scores"]
df["Names"]
# 多行: DataFrame
df[["Names", "Scores"]]

    Names  Scores
0  Elwing      60
1     Bob      80
2  Elwing      90

In [10]:
# 拿列
df.index = [100, 101, 102]
# 看列標籤
df.loc[[100, 102]]
# 看你是第幾個
df.iloc[[0, 2]]

      Names Subjects  Scores
100  Elwing  Chinese      60
102  Elwing  English      90