In [2]:
import pandas as pd
df = pd.DataFrame([
    ["Elwing", "Chinese", 60],
    ["Bob", "English", 80],
    ["Elwing", "English", 90]
], columns=["Name", "Subject", "Score"])
df

     Name  Subject  Score
0  Elwing  Chinese     60
1     Bob  English     80
2  Elwing  English     90

In [7]:
# 拿行
# DataFrame: 有行有列  Series: 一行/一列
# 一行: Series
df.columns = ["Names", "Subjects", "Scores"]
df["Names"]
# 多行: DataFrame
df[["Names", "Scores"]]

    Names  Scores
0  Elwing      60
1     Bob      80
2  Elwing      90

In [12]:
# 拿列
df.index = [100, 101, 102]
# 看列標籤
df.loc[[100, 102]]
# 看你是第幾個
df.iloc[[0, 1]]

      Names Subjects  Scores
100  Elwing  Chinese      60
101     Bob  English      80

In [15]:
df.mean()
df.median()
df.sum()

c:\users\elwing\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
c:\users\elwing\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Names             ElwingBobElwing
Subjects    ChineseEnglishEnglish
Scores                        230
dtype: object

In [19]:
df["City"] = ["Taipei", "Hsinchu", "Taoyuan"]
df = df.drop(["City"], axis=1)
df

      Names Subjects  Scores
100  Elwing  Chinese      60
101     Bob  English      80
102  Elwing  English      90

In [23]:
df2 = pd.DataFrame([
    ["Alice", "Chinese", 60],
    ["Bob", "English", 80],
    ["Tom", "English", 90]
], columns=["Names", "Subjects", "Scores"])
pd.concat([df, df2], axis=0)

      Names Subjects  Scores
100  Elwing  Chinese      60
101     Bob  English      80
102  Elwing  English      90
0     Alice  Chinese      60
1       Bob  English      80
2       Tom  English      90

In [25]:
# apply: Series/DataFrame
def change(number):
    return number ** 0.5 * 10
df["Scores"].apply(change)

100    77.459667
101    89.442719
102    94.868330
Name: Scores, dtype: float64

In [29]:
def change(series):
    return series["Names"] + "/" + series["Subjects"]
df.apply(change, axis=1)

100    Elwing/Chinese
101       Bob/English
102    Elwing/English
dtype: object